name: Build Docker image

on:
  pull_request:

env:
  GO_VERSION: 1.17

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Docker image
        uses: docker/build-push-action@ad44023a93711e3deb337508980b4b5e9bcdc5dc
        with:
          context: .
          build-args:
            - GO_VERSION=${{ env.GO_VERSION }}
